:root {
    --full-contrast: white;
    --hot-pink: color-mix(in srgb, oklch(59.91% .239 8.14), var(--full-contrast) 70%);
    --orange-red: color-mix(in srgb, oklch(63.32% .24 31.68), var(--full-contrast) 60%);
    --red-to-orange-horizontal-gradient: linear-gradient(90deg,  var(--hot-pink) 0%, var(--orange-red) 100% );
    --fallback-pink: #e5acb4;
}

body {
    background: #111111;
    text-align: center;
}


code {
    position: relative;
    background: var(--red-to-orange-horizontal-gradient);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    padding: 0.25rem;
}

code::before {
    content: "";
    inset: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    background: #222;
    z-index: -1;
}

.code__with__fallback {
    background-color: var(--fallback-pink);
}